/*main part*/
.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    text-align: center;
}

.about-container {
    text-align: left;
    padding-top: 100px;

}

.about-heading {
    font-size: 36px;
    color: #fac031;
    /* Adjust the color as needed */
    margin-bottom: 20px;
    margin-top: 70px;
    font-family: mv boli;
}




/* footer  */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**colors*/

    --cultured: hsla(0, 0%, 97%, 1);
    --french-bistre: hsla(31, 17%, 44%, 1);
    --jet: hsla(0, 0%, 20%, 1);
    --bistre: hsla(35, 100%, 9%, 1);
    --bistre_a75: hsla(35, 100%, 9%, 0.75);
    --camel: hsla(30, 30%, 58%, 1);
    --umber: hsla(31, 17%, 36%, 1);
    --golden-brown_a60: hsla(35, 70%, 38%, 0.6);
    --granite-gray: hsla(0, 0%, 38%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --black: hsla(0, 0%, 0%, 1);

    /**typography*/

    --ff-rosario: 'Rosario', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-1: 5rem;
    --fs-2: 4.2rem;
    --fs-3: 3rem;
    --fs-4: 2.6rem;
    --fs-5: 1.8rem;

    --fw-600: 600;
    --fw-700: 700;

    /**spacing*/
    --section-padding: 12rem;

    /**box shadow */
    --shadow-1: 0px 0px 30px 0px hsla(0, 0%, 0%, 0.2);

    /**border radius*/
    --radius-circle: 50%;
    --radius-20: 20px;
    --radius-16: 16px;
    --radius-6: 6px;
    --radius-4: 4px;
    --btn-radius: 32px 6px;

    /**transition*/
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

li {
    list-style: none;
}

footer a,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding-inline: 16px;
}


/* .logo {
    color: black;
    font-size: 3rem !important;
    font-family: 'Rosario', sans-serif;
} */

#logocol {
    color: rgb(14, 13, 13);
    font-size: 3rem;
    font-family: 'Rosario', sans-serif;
}

.footer .logo {
    /* color: rgb(179, 26, 26); */
    font-size: 3.2rem;
}

/* .btn {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 12px;
    min-height: 58px;
    padding-inline: 36px;
    border-radius: 32px 6px;
    transition: 0.25s ease;
    font-size: 1.6rem;
} */


/*Footer*/
.btn-foot {
    background-color: rgb(3, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 12px;
    min-height: 58px;
    padding-inline: 36px;
    border-radius: 32px 6px;
    transition: 0.25s ease;
    font-size: 1.6rem;
}

.btn-foot:is(:hover, :focus-visible) {
    background-color: rgb(109, 55, 55);
}

.footer-link:is(:hover, :focus-visible) {
    color: black;
    font-weight: 600;
}

.social-link:is(:hover, :focus-visible) {
    color: white;
    transition: 0.75s ease;
    /* font-size: 37px; */
}




/*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
.footsection {
    width: 100%;
    padding-bottom: none;
}

.footer {
    background-color: #fac031;
    color: white;
    padding-top: 90px;
}

.footer-top {
    display: grid;
    gap: 30px;
    padding-block-end: 50px;
    border-block-end: 1px solid black;
}

.footer .logo {
    color: var(--french-bistre);
    font-size: 3.2rem;
}

.footer-brand .footer-text {
    margin-block: 20px;
}

.footer-text {
    font-size: 1.2rem !important;
}

.footer-link {
    font-size: 1.2rem !important;
}

.social-list {
    display: flex;
    gap: 20px;
}

.social-link {
    color: black;
    font-size: 2.3rem;
}

.footer-list-title {
    color: black;
    font-family: 'Rosario', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-block-end: 20px;
}

.footer-link {
    padding-block: 7px;
}

.footer-list .footer-text {
    margin-block-end: 24px;
}

.footer-bottom {
    padding-block: 40px;
    text-align: center;
}

.copyright {
    color: black;
    font-family: 'Rosario', sans-serif;
    font-size: 1.3rem;
}

/*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

/**
   * responsive for large than 575px screen
   */

@media (min-width: 575px) {

    /**
     * REUSED STYLE
     */

    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

}





/**
   * responsive for large than 768px screen
   */

@media (min-width: 768px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {
        /** typography*/
        --fs-1: 6.5rem;
    }



    /** REUSED STYLE*/

    .container {
        max-width: 720px;
    }

    .grid-list {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }




    /**
     * FOOTER
     */

    .footer-top {
        grid-template-columns: 1fr 1fr;
    }

}

/**
   * responsive for large than 992px screen
   */

@media (min-width: 992px) {

    /**CUSTOM PROPERTY*/
    :root {

        /**typography*/
        --fs-2: 4.8rem;
        --fs-3: 3.5rem;
    }

    /**REUSED STYLE*/

    .container {
        max-width: 950px;
    }


}





/**
   * responsive for large than 1200px screen
   */

@media (min-width: 1200px) {

    /** REUSED STYLE*/
    .container {
        max-width: 1250px;
    }

    /**FOOTER*/

    .footer-top {
        grid-template-columns: 1fr 0.5fr 0.5fr 0.6fr;
    }

    .footer-brand {
        padding-inline-end: 60px;
    }

}