 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

 nav {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     height: 70px;
     background: #ece6e8;
     z-index: 99;
 }

 nav .navbar {
     height: 100%;
     max-width: 1250px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: auto;
     padding: 0 50px;
 }

 .navbar .logo a {
     font-size: 30px;
     color: rgb(77, 35, 30);
     text-decoration: none;
     font-weight: 600;
 }

 nav .navbar .nav-links {
     line-height: 70px;
     height: 100%;
 }

 nav .navbar .links {
     display: flex;
 }

 nav .navbar .links li {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     list-style: none;
     padding: 0 14px;
 }

 nav .navbar .links li a {
     height: 100%;
     text-decoration: none;
     white-space: nowrap;
     color: #111010;
     font-size: 17px;
     font-weight: 500;
 }

 nav .navbar .links li a:hover {
     color: rgb(225, 135, 125);
 }

 .links li:hover .htmlcss-arrow,
 .links li:hover .js-arrow {
     transform: rotate(180deg);
 }

 nav .navbar .links li .arrow {

     height: 100%;
     width: 22px;
     line-height: 70px;
     text-align: center;
     display: inline-block;
     color: #111010;
     transition: all 0.3s ease;
 }

 nav .navbar .links li .sub-menu {
     position: absolute;
     top: 70px;
     left: 0;
     line-height: 40px;
     background: rgb(170, 112, 105);
     border-radius: 0 0 4px 4px;
     display: none;
     z-index: 2;
 }

 nav .navbar .links li:hover .htmlCss-sub-menu,
 nav .navbar .links li:hover .js-sub-menu {
     display: block;
 }

 .navbar .links li .sub-menu li {
     padding: 0 22px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }

 .navbar .links li .sub-menu a {
     color: #fff;
     font-size: 15px;
     font-weight: 500;
 }

 .navbar .links li .sub-menu a:hover {
     color: black;

 }


 .navbar .links li .sub-menu .more-arrow {
     line-height: 40px;
 }

 .links li .sub-menu .more:hover .more-sub-menu {
     display: block;
 }


 .navbar .search-box {
     position: relative;
     height: 40px;
     width: 40px;
 }

 .navbar .search-box i {
     position: absolute;
     height: 100%;
     width: 100%;
     line-height: 40px;
     text-align: center;
     font-size: 22px;
     color: rgb(77, 35, 30);
     font-weight: 600;
     cursor: pointer;
     transition: all 0.3s ease;
 }

 .navbar .search-box .input-box {
     position: absolute;
     right: calc(100% - 40px);
     top: 80px;
     height: 60px;
     width: 300px;
     background: rgb(77, 35, 30);
     border-radius: 6px;
     opacity: 0;
     pointer-events: none;
     transition: all 0.4s ease;
 }

 .navbar.showInput .search-box .input-box {
     top: 65px;
     opacity: 1;
     pointer-events: auto;
     background: rgb(77, 35, 30);
 }


 .search-box .input-box::before {
     content: '';
     position: absolute;
     height: 20px;
     width: 20px;
     background: rgb(77, 35, 30);
     right: 10px;
     top: -6px;
     transform: rotate(45deg);
 }

 .search-box .input-box input {
     position: absolute;
     top: 50%;
     left: 50%;
     border-radius: 4px;
     transform: translate(-50%, -50%);
     height: 35px;
     width: 280px;
     outline: none;
     padding: 0 15px;
     font-size: 16px;
     border: none;
 }

 .navbar .nav-links .sidebar-logo {
     display: none;
 }

 .navbar .bx-menu {
     display: none;
 }


















 .fline {
     background-image: url('../image/webg2.jpeg');
     margin: 2rem;
     height: 45rem;
     background-position: center;
     background-size: cover;
     text-align: center;
     border-radius: 16px;
     color: #fff;


 }

 .intro {
     border-radius: 16px;
     height: 45rem;
     background-color: rgba(0, 0, 0, 0.467);



 }

 .fline h1 {
     font-size: 5rem;
     font-family: 'Merriweather', serif;
     padding-top: 15rem;
 }

 .fline h3 {
     font-size: 2rem;
     font-family: 'Merriweather', serif;

 }




 .about {
     height: 30rem;
     background-color: rgba(216, 197, 197, 0.222);
     border-radius: 1rem;
     padding: 1rem;
     display: flex;
     gap: 25rem;
     margin: 2rem;

 }

 .about img {
     height: 15rem;
     width: 15rem;
     border-radius: 1rem;


 }

 .about .imgg {
     position: relative;

 }

 .fimg {
     left: 5rem;
 }

 .simg {
     top: -10rem;
     left: 17rem;
 }

 .timg {
     top: -18rem;
     left: 3rem;
 }

 .aboutPlanner {
     width: 35rem;
     font-family: 'Merriweather', serif;
     padding-left: 5rem;
 }

 .aboutPlanner h1 {
     font-size: 3rem;
     color: rgb(77, 35, 30);
 }

 .aboutPlanner h2 {
     font-size: 3rem;
     color: rgb(77, 35, 30);
 }

 .aboutPlanner p {
     font-size: 1rem;
     color: rgb(76, 69, 69)
 }


 /*service*/

 .service {
     background-image: url('../image/webg2.jpeg');
     margin: 2rem;
     height: 70rem;
     background-position: center;
     background-size: cover;
     text-align: center;
     border-radius: 16px;
     color: #fff;

 }



 .venu {
     margin-top: 10rem;
     margin: 3.7rem;
     height: 35rem;
     display: flex;
 }

 .venu img {
     height: 30rem;
     width: 27rem;
     padding: 2rem;
     border-top-right-radius: 13rem;
     border-top-left-radius: 13rem;
     border-bottom-left-radius: 2rem;
     border-bottom-right-radius: 2rem;

 }

 .venu h1 {
     font-size: 2rem;
     font-family: 'Merriweather', serif;
     color: #4b3737;
     text-align: center;
     margin: 0.3rem;
 }

 .venu button {
     margin-left: 35%;
     font-size: 1.3rem;
     font-family: 'Merriweather', serif;
     color: #8b4242;
     text-align: center;
     border-radius: 3rem;
 }



 .venu a {
     text-decoration: none;
 }

 .venu img:hover {
     border: .3rem solid rgb(255, 255, 255);


 }





 .order {
     height: 45rem;
     background-image: url('../image/wedbg1.avif');
     background-size: cover;
     display: flex;

 }

 .order img {
     height: 33rem;
     margin: 6rem;
     border: .6rem solid rgb(255, 255, 255);
     border-top-left-radius: 15rem;
     border-bottom-right-radius: 5rem;
     border-bottom-left-radius: 1rem;
     border-top-right-radius: 1rem;

 }



 form {
     margin: 8rem;

 }

 form input,
 textarea,
 .btn {
     height: 3rem;
     width: 35rem;
     border-radius: 3rem;
     margin: .5rem;
     padding-left: 1rem;
     border-color: rgb(68, 61, 44);
 }





 .footsection {
     width: 100%;
     padding-bottom: none;
 }

 .footer {
     background-color: rgba(73, 29, 35, 0.696);
     color: rgb(203, 197, 195);
     padding-top: 90px;
 }

 footer a {
     text-decoration: none;
     color: rgb(203, 197, 195);
 }

 footer li {
     list-style: none;
 }

 .footer-top {
     display: grid;
     gap: 30px;
 }

 .footer .logo {
     color: rgb(77, 35, 30);
     font-size: 3.2rem;
 }

 .footer-brand .footer-text {
     margin-block: 20px;
 }

 .footer-text {
     font-size: 1.2rem !important;
 }

 .footer-link {
     font-size: 1.2rem !important;
 }

 .sociallist {
     margin-left: 35%;
 }

 .social-list {
     display: flex;
     gap: 20px;
 }

 .social-link {
     color: #ffffff;
     font-size: 2.8rem;
 }

 .footer-list-title {
     color: #fff;
     font-size: 1.8rem;
     font-weight: 3.4rem;
     margin-block-end: 20px;
 }

 .footer-link {
     padding-block: 7px;
 }

 .footer-list .footer-text {
     margin-block-end: 24px;
 }

 .footer-bottom {
     padding-block: 40px;
     text-align: center;
 }

 footer button {
     border: none;
     height: 3rem;
     width: 8rem;
     border-radius: 2rem 1rem 2rem 1rem;
 }

 .copyright {
     color: #fff;
     font-size: 1rem;
 }















 @media screen and (max-width:575px) {
     .venu {
         flex-direction: column;
         text-align: center;
         height: 90rem;
         margin-bottom: 25rem;


     }

     .venu button {
         margin-left: 0rem;
     }

     .order {
         flex-direction: column;
         margin-bottom: 25rem;

     }

     form {
         margin: 0rem;

     }

     form input,
     textarea,
     .btn {
         width: 25rem;
     }

     .about {
         flex-direction: column;
         gap: 0rem;
         height: 65rem;
         padding: 0;
     }

     .aboutPlanner {
         margin: 1rem;
         padding-left: 0.3rem;
     }

     .about .imgg {
         position: initial;
         display: flex;
         flex-direction: column;
         padding-left: 8rem;

     }

 }

 @media screen and (max-width:890px) {
     .venu {
         flex-direction: column;
         text-align: center;
         height: 90rem;
         margin-bottom: 25rem;

     }

     .venu button {
         margin-left: 0rem;
     }

     .order {
         flex-direction: column;
         margin-bottom: 25rem;

     }

     form {
         margin: 1rem;

     }

     form input,
     textarea,
     .btn {
         width: 25rem;
     }

     .about {
         flex-direction: column;
         gap: 0rem;
         height: 65rem;
         padding: 0;
     }

     .aboutPlanner {
         margin: 1rem;
         text-align: center;
     }

     /* .about .imgg{        
        position:initial;
        display: flex;
        flex-direction: column;

    }
    .about .imgg{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    } */
 }

 @media (max-width:920px) {
     nav .navbar {
         max-width: 100%;
         padding: 0 25px;
     }

     nav .navbar .logo a {
         font-size: 27px;
     }

     nav .navbar .links li {
         padding: 0 10px;
         white-space: nowrap;
     }

     nav .navbar .links li a {
         font-size: 15px;
     }

 }


 @media (max-width:800px) {
     .navbar .bx-menu {
         display: block;
     }

     nav .navbar .nav-links {
         position: fixed;
         top: 0;
         left: -100%;
         display: block;
         max-width: 270px;
         width: 100%;
         background: rgb(77, 35, 30);
         line-height: 40px;
         padding: 20px;
         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
         transition: all 0.5s ease;
         z-index: 1000;
     }

     nav .navbar .links li a:hover {
         color: black
     }


     .navbar .nav-links .sidebar-logo {
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     .sidebar-logo .logo-name {
         font-size: 25px;
         color: #fff;
     }

     .sidebar-logo i {
         font-size: 25px;
         color: white;
     }

     .navbar .bx-menu {
         font-size: 25px;
         color: rgb(77, 35, 30);
     }

     nav .navbar .links {
         display: block;
         margin-top: 20px;
     }

     nav .navbar .links li .arrow {
         line-height: 40px;
     }


     nav .navbar .links li {
         display: block;
     }

     nav .navbar .links li .sub-menu {
         position: relative;
         top: 0;
         box-shadow: none;
         display: none;
     }

     nav .navbar .links li .sub-menu li {
         border-bottom: none;

     }

     .navbar .links li .sub-menu .more-sub-menu {
         display: none;
         position: relative;
         left: 0;
     }

     .navbar .links li .sub-menu .more-sub-menu li {
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     .links li:hover .htmlcss-arrow,
     .links li:hover .js-arrow {
         transform: rotate(180deg);
     }

     .navbar .links li .sub-menu .more-sub-menu {
         display: none;
     }

     .navbar .links li .sub-menu .more span {
         /* background: red; */
         display: flex;
         align-items: center;
         /* justify-content: space-between; */
     }


     nav .navbar .links li:hover .htmlCss-sub-menu,
     nav .navbar .links li:hover .js-sub-menu {
         display: block;
     }

     .navbar .nav-links.show1 .links .htmlCss-sub-menu,
     .navbar .nav-links.show3 .links .js-sub-menu,
     .navbar .nav-links.show2 .links .more .more-sub-menu {
         display: block;
     }

     .navbar .nav-links.show1 .links .htmlcss-arrow,
     .navbar .nav-links.show3 .links .js-arrow {
         transform: rotate(180deg);
     }

     .navbar .nav-links.show2 .links .more-arrow {
         transform: rotate(90deg);
     }


 }

 @media (max-width:370px) {
     nav .navbar .nav-links {
         max-width: 100%;
     }
 }


 @media (min-width: 575px) {

     .container {
         max-width: 540px;
         width: 100%;
         margin-inline: auto;
     }

 }

 @media (min-width: 768px) {
     .container {
         max-width: 720px;
     }

     .grid-list {
         grid-template-columns: 1fr 1fr;
         column-gap: 30px;
     }

     .footer-top {
         grid-template-columns: 1fr 1fr;
     }
 }

 @media (min-width: 992px) {
     .container {
         max-width: 950px;
     }
 }


 @media (min-width: 1200px) {

     .container {
         max-width: 1250px;
     }


     .footer-top {
         grid-template-columns: 1fr 0.5fr 0.5fr 0.6fr;
     }

     .footer-brand {
         padding-inline-end: 60px;
     }

 }